
*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  background: url("img/aesthetic.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App {
  border-radius: 5px;
  align-items: center;
height: 100vh;
width: 1000px;
background-color:rgb(215 230 244);
border: 5px solid rgb(255, 255, 255);
overflow-x: hidden;
}




